.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;
}

.modal.is-open {
    display: block;
}

.modal .container {
    background-color: var(--cor-neutra-escura);
    color: var(--cor-neutra-clara);
    display: flex;
    flex-direction: column;
    padding: 2.5rem 1.2rem;
    height: 100vh;
}

.modal header {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal header h2 {
    letter-spacing: 0.1rem;
    font-weight: 400;
}   

.modal header .fechar {
    background-image: url(../assets/images/icone_fechar.svg);
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.th-produto,
.th-total,
.td-produto,
.td-total {
    display: none;
}

tbody td {
    padding: 0.8rem;
    vertical-align: middle;
    background-color: var(--cor-cinza-escura);
    color: var(--cor-roxa-clara);
    letter-spacing: 0.1rem;
}

thead th {
    padding: 0.8rem;
    letter-spacing: 0.1rem;
}

td.td-preco-unitario {
    color: var(--cor-neutra-clara);
    font-size: 0.9rem;
    font-weight: 300;
    white-space: nowrap;
}

td.td-quantidade input {
    width: 48px;
    padding: 4px;
    font-size: 0.9rem;
    text-align: center;
    background-color: transparent;
    border: 1px solid var(--cor-primaria);
    border-radius: 4px;
    color: var(--cor-cinza-clara);
}

td .btn-remover {
    display: block;
    background-image: url(../assets/images/icone_deletar.svg);
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    margin: auto;
}

.container-preco {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.total-carrinho {
    background-color: var(--cor-cinza-escura);
    width: 100%;
    padding: 1rem 0.5rem;
    font-size: 2rem;
    letter-spacing: 0.1rem;
}

.finalizar-compra {
    color: var(--cor-neutra-clara);
    background-color: var(--cor-primaria);
    padding: 1rem;
    width: 100%;
    font-size: 1rem;
    cursor: pointer;
    letter-spacing: 0.1rem;
    transition: background-color 0.3s ease-in-out;
}

.finalizar-compra:hover {
    background-color: var(--cor-primaria-hover);
}

@media (min-width: 769px) {

    .modal.is-open{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(00,00,00,0.8);
    }
   
    .modal .container {
        max-width: 720px;
        margin: 0 auto;
        height: auto;
        padding: 1.5rem;
        background-color: var(--cor-cinza-escura);
    }
   
    .modal .container th{
        background-color: var(--cor-neutra-escura);
    }

    table{
        border-collapse: collapse;
    }

    tbody td {
        border: 2px solid var(--cor-neutra-escura);
    }

   
    .th-produto,
    .th-total,
    .td-produto,
    .td-total {
        display: table-cell
    }

    .td-preco-total{
        white-space: nowrap;
        font-weight: 300;
        font-size: 1rem;
        color: var(--cor-neutra-clara)
    }

    td img{
        width: 48px;
        height: auto;
        border-radius: 4px; 
    }

    .container-preco {
       display: flex;
       flex-direction: column;
       align-items: flex-end;
    }

    .total-carrinho{
        text-align: right;

    }

     .finalizar-compra{
        width: 369px;
    }

    .td-quantidade{
        text-align: center;
    }
}